$bg-color: #ffffff;
$white-color: #ffffff;
$bg-debt: #F6F8FA;
$text-color: #5A676A;
$tile-color: #111C1F;
$main-color: #2CB7B0;
$hover-color: #209D97;
$disabled-color: #2CB7B0;
$error-color: #EF476F;
