@import '../../scss/varriables';
@import '../../scss/base-styles';

.SubmButton {
    @extend %button;
    width: 320px;
    height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    text-transform: capitalize;
}

.flexCont {
    display: flex;
}



.GoBackButton {
    @extend %button;
    margin-bottom: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    background: $white-color;
    color: #2CB7B0;
    stroke: #2CB7B0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    text-transform: capitalize;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background: $white-color;
        color: #209D97;
        stroke: #209D97;
    }

    &SvgBack {
        display: flex;
        align-items: center;
        margin-right: 8px;
        width: 8px;
        height: 7px;
}
}

.formInput {
    @extend %input;
}

.formTitle {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;   
    text-transform: capitalize;
}

.sectionCont {
    margin-bottom: 40px;
}

.titleSection {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}

.formLabel {
    display: block;
    position: relative;
    &:not(:last-child){
        margin-bottom: 16px;
    }
    
}

.labelText {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: 8px;
}

.errorText {
    position: absolute;
    bottom: -20px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    width: 320px;
    color: #EF476F;
    text-align: right;
}